.outter{
    border: 2px solid black;
    border-radius: 5px;
    padding: 40px;
    padding-top: 60px;
    position:absolute;
    justify-content: center;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
    height: 400px;
    
}
body{
    background-color: rgb(207, 197, 197);
}

#left{
    float: left;
    
}

#right{
    float: right;

    
}

#image{
    position: absolute;
    top:50%;
    left: 20%;
    transform: translate(-50%,-50%);
    
}
#image img{
    border-radius: 10px;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}